* {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color:rgb(53, 53, 53);
  }
  
  body {
    background-image:  url("Bilder/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.container {
    width: 1140px;
    margin: 30px auto 0 auto;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(68, 68, 68);
}

h3 {
    color: rgb(68, 68, 68);
}

.menü {
    float: right;
    margin-top: 7px;
}

.menü a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.menü a:hover {
    color: #e67e25;
}

.col {
    width: 45.5%;
    height: fit-content;
    float: left;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 33px rgba(0, 0, 0, 0.137);
    margin-bottom: 45px;
}

.col:last-child {
    margin-left: 20px;
}

input {
  margin-bottom: 15px;
  width:99%;
  height:25px;
  border: 1px solid rgba(66, 66, 66, 0.24);
  font-size: 15px;
  background-color: #199a1905;
}

.rezept {
    width: 80%;
    padding: 1px 25px 10px 25px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 33px rgba(0, 0, 0, 0.137);
    margin-bottom: 45px;
    margin: 0 auto 25px auto;
}

.rezept:last-child {margin-bottom: 40px;}


/* -------------------- Button ---------------------*/
button {
    display: inline-block;
    padding: 3px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e25;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: white;
    margin-right: 10px;
}
  
button:hover {background-color: #e67e25; color: white;}

#favorisieren-button {
    float: right;
}

/* -------------------- Queries ---------------------*/

/* - Ipad */
@media only screen and (max-width: 768px) {
    * {font-size: 16px;}
    h2 { font-size: 22px;}
    .container {width: 750px;}
    .menü a {font-size: 20px; margin-left: 12px;}
    .col:last-child {margin-left: 10px; width: 310px;}
    
}


/* - Iphone X */
@media only screen and (max-width: 375px) {
    * {font-size: 14px;}
    .container { width: 350px;}
    .menü a {font-size: 18px;margin-bottom: 40px;}

    .col {width: 300px;}
    .col:last-child {margin-left: 0;}
}