* {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(53, 53, 53);
  }
  
  body {
    background-image:  url("Bilder/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.container {
    width: 1140px;
    margin: 30px auto 0 auto;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
}

.menü {
    float: right;
    margin-top: 7px;
}

.menü a {
    text-decoration: none;
    margin-left: 20px;
}

.menü a:hover {
    color: #199A19;
}