* {
    font-family: Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    text-rendering: opimizeLegibility;
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow: hidden;
    
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.76)), url("Bilder/Grünzeug.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    width: 1140px;
    margin: 15% auto 0 auto;
    padding: 4vh;
}

h1,h2 {
    font-weight: 300;
    letter-spacing: 1px;

}

h1 {
    font-size: 60px;
    margin-bottom: 1%;
}

h2 {
    font-size: 40px;
    margin-bottom: 3%;
}



.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e25;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
    background-color: #e67e25;
    border: 1px solid #e67e25;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e25;
    color: #e67e25;
}

.btn:hover,
.btn:active {
    background-color: #e67e25;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e67e25;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e25;
    color: #fff;
}







/* -------------------- Queries ---------------------*/

/* - Ipad */
@media only screen and (max-width: 768px) {
    .container {width: 100vh;padding: 4vh;}
    h1 {font-size: 45px;}
    h2 {font-size: 30px;}
}

@media only screen and (max-width: 600px) {
    h1 {font-size: 30px;}
    h2 {font-size:25px;}
}

/* - Iphone X */
@media only screen and (max-width: 375px) {
    h1 {font-size: 25px;margin-bottom: 3vh;margin-top: 10vh;}
    h2 {font-size: 18px;margin-bottom: 5vh;}
    a {font-size: 16px;}
}