.button-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;


}


#Button1, #Button2, #Button3, #Button4, #Button5 {
    font-size:20px;
    color: rgb(99, 99, 99);
    border: none;
    text-decoration: none;
    transition-duration: 0.2s;
    background-color: white;
    border-radius: 5px;
}

#Button5 {
    color: rgba(255, 30, 0, 0.719);
}



#Button1:hover,
#Button2:hover,
#Button3:hover,
#Button4:hover,
#Button5:hover{
    color:black;
}

body {
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

img {
    position:relative;
    float:left;
    width: 200px;
    height: auto;

}

.ausgewählt-spitze,
.ausgewählt-mitte,
.ausgewählt-booster {
    position:absolute;
    left:50%;
    width:auto;
}

.ausgewählt-spitze{
    height:140px;
    margin: 100px auto 0 -100px;
}

.ausgewählt-mitte{
    height:180px;
    margin: 240px auto 0 -100px;
}

.ausgewählt-booster{
    height:200px;
    margin: 420px auto 0 -100px;
}

p {
    font-size: 30px;
}


