* {
    background-image: url(Bilder/bg.png);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

h2:hover {
    color: rgb(253, 135, 0);
    transition: color 1.2s linear 0s;
    text-decoration: underline;
}

img {
    height: auto;
    width: 800px;
}

video {
    width: 800px;
    height: auto;
}

hr {
    margin-bottom: 5px;
}

section {
    margin-bottom: 40px;
}

#footer-headline {
    font-weight: 200;
}

#footer-headline2 {
    font-weight: 200;
}

#image {
    float: left;
    width: 24%;
    height: auto;
    margin-top: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.internet-link {
    text-decoration: none;
    color: black;
    text-align: center;
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

main section a {
    text-decoration:none;
    margin-left: 15px;
    margin-bottom: 60px;
    float: right;
    color: black;
}

main section a:hover {
    color: rgb(253, 135, 0);
    text-decoration: underline;
}

.mittlere-box {
    width: 35%;
    float: left;
    margin-left: 20px;
}

.rechte-box {
    width: 35%;
    float: left;
    margin-left: 20px;
}

.untere-box {
    margin-top: 30px;
}

.soziale-Medien {
    width: 50%;
    float:left;
}

.soziale-Medien img {
    width: 390px;
    height: 390px;
    margin-left: 10px;
}

blockquote {
    font-size: 40px;
    margin-left: 0;
}



/* ------------------- Tablet -------------------*/

@media screen and (max-width: 1024px){

    main {
        width: 580px;
    }

    h1 {
        font-size: 30px;
        margin-top: 30;
    }

    h2 {
        margin-top: 10;
    }

    img {
        width: 580px;
    }

    video {
        width: 580px;
        height: auto;
    }

    #image {
        width: 37%;
        margin-bottom: 10px;
        margin-top: 10;
    }

    .mittlere-box {
        width: 60%;
        margin-left: 15px;
    }

    .rechte-box {
        width: 100%;
        margin-left: 0;
    }

    .link {
        margin-bottom: 30px;
    }

    .soziale-Medien img {
        width: 280px;
        height: 280px;
        margin-left: 10px;
    }
}


/* ------------------- Smartphone -------------------*/

@media screen and (max-width: 600px){

    main {
        width: 270px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 17px;
    }

    img {
        width: 270px;
    }

    video {
        width: 270px;
        height: auto;
    }

    #image {
        width: 100%;
        margin-top: 0;
    }

    .mittlere-box, .rechte-box {
        width: 100%;
        margin-left: 0;
    }

    .soziale-Medien {
        width: 100%;
        float:left;
    }

    .soziale-Medien img {
        width: 270px;
        height: auto;
        margin-left: 10px;
    }
    
}